body {
    background-color: #121212;
    color: #e0e0e0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}
.subscribe-button {
    background: #007bff;
    padding: 10px;
    color: white;
    border: none;
    cursor: pointer;
}

.subscribe-button:hover {
    background: #0056b3;
}
